.Select {
  width: 90%;
  margin: .5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: .025rem;
  cursor: pointer;
  box-sizing: border-box;
  display: block;

  .header {
    padding: .5rem;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
      width: .4rem;
      height: .4rem;
      display: inline-block;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      transform: rotate(225deg);
      position: relative;
      top: -.1rem;
      transition: all .2s ease-in-out;
    }

    &.active {
      background: #fff;
      color:rgba(22, 0, 72, 1);

      div {
        border-color: rgba(22, 0, 72, 1);
        transform: rotate(45deg);
        top: .1rem;
      }
    }
  }

  .options {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
    border: 1px solid rgba(255,255,255,.3);
    border-top: none;
    
    &.visible {
      max-height: 15rem;
      overflow-y: scroll;
    }

    .option {
      padding: .5rem;
      transition: all .2s ease-in-out;

      &:hover {
        background: #fff;
        color:rgba(22, 0, 72, 1)
      }
    }

    option {
      display: none;
    }
  }
}