.AsidePlanets {
  display: flex;
  height: 100%;

  .buttons, .info {
    padding: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 13rem;
    padding: 2rem 1rem;

    h1 {
      text-transform: uppercase;
      font-size: 1rem;
      text-align: left;
      opacity: .7;
      font-weight: 500;
    }

    .buttonsContainer {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    button {
      margin: 1rem 0;
      padding: 1.5rem 1rem;
      padding-bottom: 2.5rem;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 5px;
      text-align: right;
      padding-right: 1.3rem;
      font-size: 1.1rem;
      // font-weight: 600;
      letter-spacing: .025rem;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      background-position: -20% center;
      background-size: 45%;
      background-repeat: no-repeat;
      font-weight: 600;
      transition: all .2s ease-in-out;

      &:focus {
        outline: none;
      }

      &.Sun {
        border-color: #F0C100;
        color: #F0C100;
        background-image: url('/images/planets/sun.svg');

        &:hover, &.active {
          background-color: #F0C100;
          color: #fff;
          background-image: url('/images/planets/sun-white.svg')
        }
      }

      &.Mercury {
        background-image: url('/images/planets/mercury.svg');
        border-color: #EB9600;
        color: #EB9600;

        &:hover, &.active {
          background-color: #EB9600;
          color: #fff;
          background-image: url('/images/planets/mercury-white.svg')
        }
      }

      &.Venus {
        background-image: url('/images/planets/venus.svg');
        border-color: #ED7300;
        color: #ED7300;

        &:hover, &.active {
          background-color: #ED7300;
          color: #fff;
          background-image: url('/images/planets/venus-white.svg');
        }
      }

      &.Moon {
        background-image: url('/images/planets/moon.svg');
        color: #fff;
        border-color: #fff;

        &:hover, &.active {
          background-color: #fff;
          color: #212121;
          background-image: url('/images/planets/moon-white.svg');
        }
      }

      &.Earth {
        background-image: url('/images/planets/earth.svg');
        color: #62C953;
        border-color: #62C953;

        &:hover, &.active {
          background-color: #62C953;
          color: #fff;
          background-image: url('/images/planets/earth-white.svg');

        }
      }

      &.Mars {
        background-image: url('/images/planets/mars.svg');
        color: #EE0000;
        border-color: #EE0000;

        &:hover, &.active {
          background-color: #EE0000;
          color: #fff;
          background-image: url('/images/planets/mars-white.svg');

        }
      }

      &.Jupiter {
        background-image: url('/images/planets/jupiter.svg');
        color: #BCAAA4;
        border-color: #BCAAA4;

        &:hover, &.active {
          background-color: #BCAAA4;
          color: #fff;
          background-image: url('/images/planets/jupiter-white.svg');

        }
      }

      &.Saturn {
        background-image: url('/images/planets/saturn.svg');
        color: #C5004B;
        border-color: #C5004B;

        &:hover, &.active {
          background-color: #C5004B;
          color: #fff;
          background-image: url('/images/planets/saturn-white.svg');

        }
      }

      &.Uranus {
        background-image: url('/images/planets/uranus.svg');
        color: #007E98;
        border-color: #007E98;

        &:hover, &.active {
          background-color: #007E98;
          color: #fff;
          background-image: url('/images/planets/uranus-white.svg');

        }
      }

      &.Neptune {
        background-image: url('/images/planets/neptune.svg');
        color: #AB0067;
        border-color: #AB0067;

        &:hover, &.active {
          background-color: #AB0067;
          color: #fff;
          background-image: url('/images/planets/neptune-white.svg');

        }
      }

      &.Pluto {
        background-image: url('/images/planets/pluto.svg');
        color: #607D8B;
        border-color: #607D8B;

        &:hover, &.active {
          background-color: #607D8B;
          color: #fff;
          background-image: url('/images/planets/pluto-white.svg');

        }
      }
    }
  }

  .info {
    max-width: 20rem;
    padding: 2rem;
    text-align: left;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;

    &:after {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;  
      opacity: .2; 
      z-index: -1;
      background-image: url('/images/illustrations/luna.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 center;  
    }

    h2 {
      margin-top: 0;
      font-size: 1.7rem;
      text-transform: uppercase;
      letter-spacing: .025rem;
    }

    p.constellations, p.stars {
      text-transform: uppercase;
      font-size: .85rem;

      span {
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: .4rem;
      }
    }

    

    .Select {
      width: 80%;
      margin-left: 0;
      position: absolute;
      bottom: 2.5rem;
    }


    &.Sun {
      background-color: #F0C100;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Mercury {
      background-color: #EB9600;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Venus {
      background-color: #ED7300;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Moon {
      background-color: #fff;
      color: #212121;
    }

    &.Earth {
      background-color: #62C953;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Mars {
      background-color: #EE0000;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Jupiter {
      background-color: #BCAAA4;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Saturn {
      background-color: #C5004B;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Uranus {
      background-color: #007E98;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Neptune {
      background-color: #AB0067;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

    &.Pluto {
      background-color: #607D8B;
      // h2, p.constellations span {
      //   color: #62C953;
      // }
    }

  }
}