.Aside {
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
  transition: all .6s cubic-bezier(.66,-0.38,.29,1.37);

  .content {
    z-index: 99;
    background: #212121;
    color: #fff
  }
}